.py-popup-overlay {
    position: fixed;
    z-index: 2147483645;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
}

.py-popup-container {
    position: fixed;
    top: 0;
    right: 105px;
    width: 400px;
    height: 630px; /* height auto not working */
    margin: 0;
    padding: 0;
    background-color: white;
    box-shadow: 0 1px 1px rgb(0 0 0 / 15%), 0 2px 2px rgb(0 0 0 / 15%), 0 4px 4px rgb(0 0 0 / 15%), 0 8px 8px rgb(0 0 0 / 15%);
}