@keyframes bounce {
    20%,50%,80%,to {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    70% {
        transform: translateY(-15px);
    }
    90% {
        transform: translateY(-4px);
    }
}

.added-thumbnail {
    animation: 1s bounce linear;
    animation-iteration-count: 1;
}
